body {
    background: #7EA5FF;
    font-size: 100%; 
    font-family: RopaSans,Arial,sans-serif;
    margin: 0; 
} 
h1, p {
	margin: 30px;
	color: #fff;
	}
	
img { 
	margin:30px;
	}
#go {
	margin:30px;
	}
ul  {
      color: #fff;
      }
#link {
	color:#fff;
	margin:30px;
	}



@media (max-width: 627px)
{
img {width:75%;}
h1 {width:100%;}
link {width:100%;}
}